# Local .terraform directories and plugin data
.terraform/
.terraform.lock.hcl

# State files should never be committed
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
terraform.tfvars

# Plan files
*.tfplan
